@import '../../styles/variables.scss';

.dapp-name {
  display: flex;
  align-items: flex-start;
  min-height: 70px;

  .icon {
    padding-top: 10px;
    padding-right: 5px;
  }
  
  .icon img {
    width: 30px;
    margin-right: 6px;
  }

  .name {
    font-size: 14px;
    font-family: $f-medium;
    margin-bottom: 3px;
    padding-top: 10px;
  }

  .desc-short {
    font-size: 12px;
  }

  &:hover {
    background: #F5F9FA;
    cursor: pointer;
  }

  .update {
    margin: 10px 0;
    font-size: 13px;

    svg {
      width: 10px;
    }
  }
}