@import '../../styles/variables.scss';

.modal-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;

  .modal-window {
    position: relative;
    border-radius: 20px;
    background-color: #FFFFFF;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    display: flex;
    flex-direction: column;

    &.modal-big {
      max-height: 58vh;

      .modal-content {
        flex-grow: 1;
        max-height: calc(58vh - 102px);
      }
    }
   
    &.modal-small {
      max-height: 30vh;

      .modal-content {
        flex-grow: 1;
        max-height: calc(30vh - 102px);
      }
    }
   
    .modal-h {
      color: #0E1418;
      font-family: $f-bold;
      font-size: 24px;
      padding: 26px;
    }

    .modal-content {
      font-family: $f-regular;
      overflow: scroll;
      margin-bottom: 26px;
    }

    .close-cross {
      position: absolute;
      z-index: 100;
      top: 10px;
      right: 5;
      font-size: 36px;
      color: rgba(0, 0, 0, .5);
      cursor: pointer;
      border: 0;
      background: transparent;
    }
  }
}

.modal-disable-scroll {
  overflow: hidden;
}
