.form-dapp-json {
  display: flex;
  margin-bottom: 20px;

  div {
    flex-grow: 1;
  }

  &.modal-form > p {
    display: inline-block;
    padding: 0;
    margin-top: 6px;

    button {
      padding-top: 13px;
      padding-bottom: 12px;
      cursor: pointer;
    }
  }

  input[type="file"] {
    color: #0E1418;
    background: #E5E9F0;
    border: 0;
    height: 50px;
    padding: 16px 20px 0;
    line-height: 50px;
    width: 100%;
    margin-top: 6px;
  }
}
